.msgInputBtn {
  background: linear-gradient(rgb(52, 3, 52), rgb(27, 2, 27));
  /* color: white; */
  transition: 0.5s;
}

.msgInputBtn:hover {
  background: linear-gradient(rgb(52, 3, 52), rgb(27, 2, 27));
  /* color: white; */
  transition: 0.5s;
}
